.text-dark {
    color: black;
}
.card {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color:#ffffff;
    align-items: center;
    transition: transform .3s ease;
}

.card:hover {
    transform: scale(1.03); /* Aumenta el tamaño un 3% */
    filter: drop-shadow(0rem 0rem 1.8rem rgba(4, 224, 198, 0.584));
}

.card h3 {
    font-size: 1.6rem; /* Mismo tamaño relativo que heredaba en Front */
    padding: 1rem 0.5rem;
    text-align: center;
    font-weight: 600;
}

.card p {
   padding: 0 0 1rem;
   text-align:center;
}

.card p:first-of-type {
    font-size: 1.6rem;
}

.card p:last-of-type {
    font-weight: 600;      /* Precio */
}

.desc {
    overflow:hidden;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
           line-clamp: 1; 
    -webkit-box-orient: vertical;
    line-height: 2;
    margin: 0 1.3rem;
    
}

.card img {
    width: 50%;
    object-fit:cover; /* Proporción original sin estirar */
    overflow: hidden;
    padding-top: 2.1rem;
    padding-bottom: .7rem;
}