header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #00A7AA;
}

/* Flexbox aplicado al Link para alinear imagen y texto 
.logo-text {
    display: flex;
    align-items: center;
    gap:3rem;
    text-decoration: none;
}*/

.logo {
    height: 12rem; 
    width: auto; 
    cursor: pointer;
    margin-top: .9em;
    overflow:hidden;

}

.sevina {
    color: white;
    font-size: 3.9rem;
    font-weight: bold;
}