.contenedor-tarjetas-categorias {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    justify-content: flex-start;
    margin: 2rem 2.5rem;
    gap: 2rem;

}

.contenedor-tarjetas-categorias .btn {
    display: flex;
    border-radius: .8rem;
    cursor: pointer; 
    justify-content: center;
    align-items: center;
    border: .2rem solid black;
    transition: transform .3s ease;
    margin-bottom: 1rem;
    padding: .8rem 2rem;
}

.contenedor-tarjetas-categorias .btn:hover {
    background-color: rgb(89, 255, 18);
    border-color: transparent;
    transform: scale(1.05);
}

.contenedor-tarjetas-categorias .bg-secondary {
    background-color: antiquewhite;
    font-size: 1.8rem;
    
}