
.contenedor-categorias .btn {
    display: flex;
    cursor: pointer; 
    transition: transform .3s ease;
    margin: 1rem;
    padding: .8rem 2rem;
    font-size: 5.5rem;
}

.contenedor-categorias .btn:hover {
    background-color: rgb(89, 255, 18);
    border-radius:10rem; 
    transform: scale(1.05);
}

.contenedor-categorias .bg-secondary {
    background-color:none; 
}

.contenedor-categorias {
    display: flex;
    justify-content: flex-start;
    margin-left: 10rem;
}